{% extends 'base.html'%}
{% block contact %}
    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Contact</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Contact</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Contact</h5>
                <h1>Contact For Any Query</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact-form bg-secondary rounded p-5">
                        <div id="success"></div>
                       <form method="post" action="{% url 'send_messeg' %}">
                             {% csrf_token %}
                             <div class="mb-3">
                                 <label for="exampleFormControlInput1" class="form-label">Email:</label>
                                 <input type="text" class="form-control border-0 p-4" name="email" id="exampleFormControlInput1" placeholder="Email manzilingiz">
                               </div>
                               <div class="mb-3">
                                 <label for="exampleInputSubject" class="form-label">Subject:</label>
                                 <input type="text" class="form-control border-0 p-4" name="subject" id="exampleInputSubject" placeholder="Email yoki Tel raqam qoldiring">
                               </div>
                               <div class="mb-3">
                                 <label for="exampleFormControlTextarea1" class="form-label">Message:</label>
                                 <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="3" placeholder="Message"></textarea>
                               </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary py-3 px-5">Send Message</button>
                                </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock contact %}
